<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592902447586-g2vaqhupkp42ji0ivlm1ieo8o1j44kto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592902447586-g2vaqhupkp42ji0ivlm1ieo8o1j44kto</string>
	<key>API_KEY</key>
	<string>AIzaSyB9p_BgLmvr7jr--VZBl_QLvGGE8b7KrcU</string>
	<key>GCM_SENDER_ID</key>
	<string>592902447586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noura.FinalProject-HajjApp</string>
	<key>PROJECT_ID</key>
	<string>finalproject-hajjapp</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-hajjapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592902447586:ios:5e8f822f2a48ca242f19bb</string>
</dict>
</plist>